@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
*
{
    margin: 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container
{
    display: grid;
    place-content: center;
    place-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    font-size: 5vh;
    background-color: aliceblue;
}
input[type = number]
{
    width: 10vw;
    height: 3vh;
    font-family: 'Roboto Slab', serif;
    border: 3px solid black;
    background-color: transparent;
}
input[type=button] , select , option
{
    width: 10vw;
    height: 3vh;
    border: 3px solid black;
    background-color: transparent;
}
@keyframes clip {
    0%{clip-path: inset(0 0 100% 0);}
    100%{clip-path: inset(0 0 0 0);}
}
.solution
{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: black;
    animation: clip 2s;
    place-content: center;
    place-items: center;
    align-items: center;
}
.formula
{
    display: grid;
    place-content: center;
    place-items: center;
    align-items: center;
    font-size: 3vw;
}
@keyframes fade {
    0%{display : block;}
    100%{display: none ;}
}
.warning
{
    color: transparent;
    font-size: 1vw;
    animation: fade 5s infinite;
    display: none;
    color: red;
}
.solution_container
{
    display: flex;
}
.card
{
    border: 1px white solid;
    font-family: 'Roboto Slab', serif;
    font-size: 2vw;
    margin: 2vw;
    padding: 3vw;
}
.container h1 
{
    font-size: 5vw;
}
@media screen and (max-width:800px)
{
    .solution h1 
    {
        font-size: 3vw;
    }
    .solution_container
    {
        display: grid;
        place-content: center;
        place-items: center;
    }
    .card
    {
        border: 1px white solid;
        width: 45vw;
        height: 33vh;
        display: grid;
        place-content: center;
        place-items: center;
        align-items: center;
        font-size: 3vw;
    }
    .block
    {
        display: grid;
        place-content: center;
        place-items: center;
        align-items: center;
    }
    input[type = number]
    {
        width: 50vw;
        height: 5vh;
    }
    input[type = button] 
    {
        width: 50vw;
        height: 5vh;
        margin: 10px;
    }
    select
    {
        width: 20vw;
        height: 4vh;
        margin: 1vw ;
    }
    .formula
    {
        font-size: 5vw;
    }
    .flx
    {
        display: flex;
    }
}
